test/wsdl/anonymous/lp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions
  name="lp"
  targetNamespace="urn:lp"
  xmlns:tns="urn:lp"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:lp">
      <complexType name="ExtraInfo">
        <annotation>
          <documentation>Service specific information.</documentation>
        </annotation>
        <sequence>
          <element maxOccurs="unbounded" name="Entry">
            <complexType>
              <sequence>
                <element name="Key" type="xsd:string"/>
                <element name="Value" type="xsd:string"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <element name="login">
        <complexType>
          <sequence>
            <element name="loginRequest">
              <complexType>
                <sequence>
                  <element name="username" type="xsd:string"/>
                  <element name="password" type="xsd:string"/>
                  <element name="timezone" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>

      <complexType name="loginResponse">
        <sequence>
          <element name="loginResult">
            <complexType>
              <sequence>
                <element name="sessionID" type="xsd:string"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <element name="loginResponse" type="tns:loginResponse"/>
    </schema>
  </types>

  <message name="login_in">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="login_out">
    <part name="parameters" element="tns:loginResponse" />
  </message>

  <portType name="lp_porttype">
    <operation name="login">
      <input message="tns:login_in" />
      <output message="tns:login_out" />
    </operation>
  </portType>

  <binding name="lp_binding" type="tns:lp_porttype">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="login">
      <soap:operation soapAction="urn:lp:login" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>

  <service name="lp_service">
    <port name="lp_service_port" binding="tns:lp_binding">
      <soap:address location="http://localhost:17171/" />
    </port>
  </service>
</definitions>
