test/wsdl/document/array/double.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="double"
  targetNamespace="http://tempuri.org/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:tns="http://tempuri.org/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified"
      targetNamespace="http://tempuri.org/">
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double"
            type="s:double"/>
        </s:sequence>
      </s:complexType>
      <s:element name="echo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ary"
              type="tns:ArrayOfDouble"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="echoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ary"
              type="tns:ArrayOfDouble"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfDouble" nillable="true" type="tns:ArrayOfDouble"/>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="echoIn">
    <wsdl:part name="parameters" element="tns:echo"/>
  </wsdl:message>
  <wsdl:message name="echoOut">
    <wsdl:part name="parameters" element="tns:echoResponse"/>
  </wsdl:message>

  <wsdl:portType name="pricerSoap">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoIn"/>
      <wsdl:output message="tns:echoOut"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="pricerSoap" type="tns:pricerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
      style="document"/>
    <wsdl:operation name="echo">
      <soap:operation soapAction="http://tempuri.org/echo" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="pricer">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/"/>
    <wsdl:port name="pricerSoap" binding="tns:pricerSoap">
      <soap:address location="http://localhost:17171"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
