sample/marshal/enum/enum.xsd

<?xml version="1.0"?>
<schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:txd="urn:org.example.enumsample"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:org.example.enumsample">

  <complexType name="hobbit.type">
    <sequence>
      <element name="name" type="txd:hobbit.name.type"/>
      <element name="age" type="xsd:int"/>
    </sequence>
  </complexType>

  <simpleType name="hobbit.name.type">
    <restriction base="xsd:string">
      <enumeration value="frodo"/>
      <enumeration value="sam"/>
      <enumeration value="meriadoc"/>
      <enumeration value="peregrin"/>
    </restriction>
  </simpleType>
</schema>
